.aplayer.aplayer-fixed {
    left: unset !important;
    color: #000;
}
.aplayer.aplayer-fixed .aplayer-body{
    left: unset !important;
    width: 400px !important;
    max-width: calc(100% - 18px);
    padding-right: 0 !important;
}
.aplayer.aplayer-fixed .aplayer-miniswitcher {
    right: unset;
    left: -18px;
    transform: rotate(180deg);
}
