.aplayer.aplayer-fixed {
    left: unset !important;
    color: #000;
}
.aplayer.aplayer-fixed .aplayer-body{
    left: unset !important;
width: 400px !important;
padding-right: 0 !important;
}
.aplayer.aplayer-fixed .aplayer-list{
width: 400px !important;
}
.aplayer.aplayer-fixed .aplayer-miniswitcher {
        right: unset;
        left: -18px;
        transform: rotate(180deg);
      }